<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>User info</title>
    <style>
        * {
            font-size: 30px;
        }
    </style>

</head>
<body>
<h2>User info</h2>
<br>
<form th:method="POST" th:action="@{/logout}" th:object="${user}">
    <label for="name">Name: </label>
    <output th:type="text" th:field="*{name}" id="name"></output>
    <br/>
    <label for="name">Surname: </label>
    <output th:type="text" th:field="*{surname}" id="surname"></output>
    <br/>
    <label for="name">Email: </label>
    <output th:type="text" th:field="*{email}" id="email"></output>
    <br/>
    <label for="name">Age: </label>
    <output th:type="text" th:field="*{age}" id="age"></output>
    <br/>
    <input type="submit" value="logout"/>
    <br/>
</form>
<form th:method="GET" th:action="@{/admin}">
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <input type="submit" value="Back to users list"/>
    </div>
</form>


</body>
</html>